<h1>TuanVC.com</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Tớ yêu cậu!
Click vào link bên dưới để đc thung thướng nha:
</p>

<%= link_to "Active", edit_account_activation_url(@user.activation_token, email: @user.email) %>
